<%- include ('partials/header')  %>

    <div id='globe' class="container">
        <h1 id="country">OOPS!!</h1>
        <h1 id="country">Something went wrong.</h1>
    </div>
    <%- include ('partials/footer')  %>