<% data.Countries.forEach(function(country){ %>



    <p><strong> <%= country.Country %></strong><img src="https://www.countryflags.io/<%=country.CountryCode %>/flat/32.png" alt=""> -
        <%= country.TotalConfirmed %>
    </p>
    <% }) %>