body {
    background-color: rgb(212, 212, 212);
}

.container-fluid {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1#head {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.035em;
    word-spacing: 0.2em;
    font-family: -apple-system-heading, BlinkMacSystemFont, sans-serif;
}

div#head {
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    background-color: rgb(48, 48, 48);
}

div#globe {
    margin-top: 50px;
}

#death {
    color: #d94a3b;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 70px;
}

#recover {
    color: #4fbd51;
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    font-weight: 700;
}

#confirm {
    color: gray;
    font-family: 'Rubik', sans-serif;
    font-size: 70px;
    font-weight: 700;
}

#cases {
    font-size: 32px;
}

#flag {
    width: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

h1#country {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
}

span#country {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 700;
}

td {
    border: 2px solid black;
}